<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huso.yolarkadasim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yolarkadasim">
        <activity
            android:name=".istekListesindekiKisileriGorSayfasi"
            android:exported="false" />
        <activity
            android:name=".istekListesiSayfasi"
            android:exported="false" />
        <activity
            android:name=".isilaniGorSayfasi"
            android:exported="false" />
        <activity
            android:name=".isilanlariSayfasi"
            android:exported="false" />
        <activity
            android:name=".isilaniverSayfasi"
            android:exported="false" />
        <activity
            android:name=".CvOlusturSayfasi"
            android:exported="false" />
        <activity
            android:name=".CvSayfasi"
            android:exported="false" />
        <activity
            android:name=".KayitOlSayfasi"
            android:exported="false" />
        <activity
            android:name=".KullaniciGirisSayfasi"
            android:exported="false" />
        <activity
            android:name=".Anasayfa"
            android:exported="false" />
        <activity
            android:name=".GirisAnimasyonSayfasi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>